<div style="position: relative">
    <input type="{{type}}"
           class="form-control"
           placeholder="{{placeHolder}}"
           (keyup)="onChange($event, input.value)"
           autocomplete="off"
           [style.width.%]="widthPercentage"
           #input/>
    <!-- <div class="dropdown">
      <ul class="list-group dropdown__list">
        <li 
          class="list-group-item dropdown__list-item" 
          *ngFor="let suggestionHighlighted of suggestionsHighlighted" 
          (click)="fillTextBox(suggestionHighlighted.full.value)">
            <span [ngClass]="suggestionHighlighted.begin.class">{{suggestionHighlighted.begin.value}}</span><span [ngClass]="suggestionHighlighted.middle.class">{{suggestionHighlighted.middle.value}}</span><span [ngClass]="suggestionHighlighted.end.class">{{suggestionHighlighted.end.value}}</span>
        </li>
      </ul>
    </div> -->
    <div class="dropdown" *ngIf="(suggestions$ | async)?.length > 0">
        <ul class="list-group dropdown__list">
          <li 
            class="list-group-item dropdown__list-item" 
            *ngFor="let suggestion of suggestions$ | async" 
            (click)="fillTextBox(suggestion.name)">
            {{suggestion.name}}
          </li>
        </ul>
      </div>
</div>
