<div class="jumbotron">
  <div class="container">
  	<div class="row">
  		<div class="col-md-3">
  		</div>
  		<div class="col-md-6">
  			<div class="panel panel-primary panel-landing">
				<div class="panel-heading panel-custom">
					<h3 class="panel-title">Log in!</h3>
				</div>
				<div class="panel-body">
					<div class="content">

						<!--login form-->
					  <form [formGroup]="form" (submit)="onLoginSubmit()">

							<!--email input-->
							<div class="form-group">
								<div [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }">
									<input type="text" id="email" placeholder="Email address" name="email" formControlName="email" class="form-control form-group__input"/>
									<p class="help-block" *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required.</p>
								</div>
							</div>

							<!--password input-->
							<div class="form-group">
								<div [ngClass]="{'has-error': form.controls.password.errors && form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }">
									<input type="password" id="password" placeholder="password" name="password" formControlName="password" class="form-control form-group__input"/>
									<p class="help-block" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</p>
								</div>
							</div>

							<button [disabled]="!form.valid || processing" type="submit" class="btn btn-landing">Log in</button>
							<a href="#"><button type="button" class="btn btn-custom">Forgot Password</button></a>
					  </form>

						<!--spinner-->
						<app-spinner [ngClass]="{ 'hide': !processing }"></app-spinner>

						<!--message-->
					  <div class="show-hide-message" role="alert">
							<div [ngClass]="messageClass">
								<p>{{message}}</p>
							</div>
						</div>

					  <hr>

			        <a class="btn btn-block btn-social btn-facebook center">
							<span class="fa fa-facebook"></span>
							Sign in with Facebook
						</a>

					</div>
					</div>
				</div>
  		</div>
  		<div class="col-md-3">
  		</div>
    </div>
  </div>
</div>
