<!-- <ul class="list-group">
  <li style="font-size: 22px;" class="list-group-item no-border"><strong>{{currentUser.name}}</strong></li>
  <li class="list-group-item no-border" ng-mouseover="profile.showDescriptionPencil = true;" ng-mouseleave="profile.showDescriptionPencil = false;" ng-show="!profile.editDescription">{{currentUser.description}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" ng-click="profile.showEditDescription();" ng-show="profile.showDescriptionPencil"></i></li>
  <div ng-show="profile.editDescription">
    <textarea class="form-control description" rows="3" ng-model="profile.descriptionEdited" maxLength="400"></textarea>
    <button type="button" class="btn btn-default" ng-click="profile.saveDescription();">Save</button>
    <button type="button" class="btn btn-default" ng-click="profile.editDescription = false;">Cancel</button>
  </div>
  <li class="list-group-item no-border" ng-mouseover="profile.showGenderPencil = true;" ng-mouseleave="profile.showGenderPencil = false;" ng-show="!profile.editGender">Gender:&nbsp;{{currentUser.gender}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" ng-click="profile.showEditGender();" ng-show="profile.showGenderPencil"></i></li>
  <div ng-show="profile.editGender">
    <select class="form-control description" ng-model="profile.genderEdited" ng-options="y for y in profile.genders"></select>
    <button type="button" class="btn btn-default" ng-click="profile.saveGender();">Save</button>
    <button type="button" class="btn btn-default" ng-click="profile.editGender = false;">Cancel</button>
  </div>
  <li class="list-group-item no-border" ng-mouseover="profile.showCountryPencil = true;" ng-mouseleave="profile.showCountryPencil = false;" ng-show="!profile.editCountry">Place:&nbsp;{{currentUser.country}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" ng-click="profile.showEditCountry();" ng-show="profile.showCountryPencil"></i></li>
  <div ng-show="profile.editCountry">
    <autocomplete datasource="profile.country_list" input="profile.countryEdited" hide="profile.hidethis"></autocomplete>
    <button type="button" class="btn btn-default" ng-click="profile.saveCountry();">Save</button>
    <button type="button" class="btn btn-default" ng-click="profile.editCountry = false;">Cancel</button>
  </div>
</ul> -->
