<ul class="list-group">
  <li style="font-size: 22px;" class="list-group-item no-border"><strong>{{name}}</strong></li>
  <li class="list-group-item no-border" (mouseover)="showDescriptionPencil = true;" (mouseleave)="showDescriptionPencil = false;" *ngIf="!editDescription">{{description}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" (click)="showEditDescription();" *ngIf="showDescriptionPencil"></i></li>
  <div *ngIf="editDescription">
    <textarea class="form-control description" rows="3" [(ngModel)]="descriptionEdited" maxLength="400"></textarea>
    <button type="button" class="btn btn-default" (click)="saveDescription();">Save</button>
    <button type="button" class="btn btn-default" (click)="editDescription = false; showDescriptionPencil = false;">Cancel</button>
  </div>
  <li class="list-group-item no-border" (mouseover)="showGenderPencil = true;" (mouseleave)="showGenderPencil = false;" *ngIf="!editGender">Gender:&nbsp;{{gender}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" (click)="showEditGender();" *ngIf="showGenderPencil"></i></li>
  <div *ngIf="editGender">
    <select class="form-control description" [(ngModel)]="genderEdited">
      <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>
    <button type="button" class="btn btn-default" (click)="saveGender();">Save</button>
    <button type="button" class="btn btn-default" (click)="editGender = false; showGenderPencil = false;">Cancel</button>
  </div>
  <li class="list-group-item no-border" (mouseover)="showCountryPencil = true;" (mouseleave)="showCountryPencil = false;" *ngIf="!editCountry">Place:&nbsp;{{country}}&nbsp;<i class="fa fa-pencil" aria-hidden="true" (click)="showEditCountry();" *ngIf="showCountryPencil"></i></li>
  <div *ngIf="editCountry">
    <p-autoComplete class="autocomplete" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" [(ngModel)]="countryEdited"></p-autoComplete>
    <button type="button" class="btn btn-default" (click)="saveCountry();">Save</button>
    <button type="button" class="btn btn-default" (click)="editCountry = false; showCountryPencil = false;">Cancel</button>
  </div>
</ul>
