<div class="input-custom">

    <form [formGroup]="form" (submit)="onSubmitForm()">

    <div class="form-group relative">
      <label>Name</label>
      <input type="text" id="ascentName" name="ascentName" formControlName="ascentName" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Style</label>
      <select class="form-control" [(ngModel)]="style" id="style" name="style" formControlName="style">
        <option *ngFor="let style of styles" [value]="style">{{style}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Grade</label>
      <select class="form-control" [(ngModel)]="grade" id="grade" name="grade" formControlName="grade">
        <option *ngFor="let grade of grades" [value]="grade">{{grade}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-custom">Submit</button>

  </form>

</div>
