  <!-- sidebar -->
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/timeline"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
      <hr>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;My profile</a></li>
      <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;My ascents</a></li>
      <hr>
      <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search ascents</a></li>
      <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Search climbers</a></li>
      <!--<hr>
      <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Management</a></li>-->
    </ul>
  </div> 
  <!-- end of sidebar -->
