<div class="jumbotron">
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
	        <h1>Venga Project</h1>
	        <p>Test login details:</p>
			<p>Email: qgeu@c.theplug.org</p>
			<p>Password: Avasss1!</p>
			<p>Github project: https://github.com/arpadvas/venga_project</p>
	        <p><a class="btn btn-lg btn-landing" href="/" role="button">Log in &raquo;</a></p>
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-primary panel-landing">
		      <div class="panel-heading panel-custom">
		        <h3 class="panel-title">Sign up now!</h3>
		      </div>
		      <div class="panel-body">
		        <div class="content">
		          <form [formGroup]="form" (submit)="onRegisterSubmit()" novalidate>


		              <!-- Name -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.name.errors && form.controls.name.dirty), 'has-success': !form.controls.name.errors}">
		                  <input id="name" type="text" placeholder="Name" name="name" class="form-control form-group__input" formControlName="name">
		                  <p class="help-block" *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required.</p>
											<p class="help-block" *ngIf="(form.controls.name.errors?.minlength || form.controls.name.errors?.maxlength) && form.controls.name.dirty">Name must be between 3 and 40 characters.</p>
		                  <p class="help-block" *ngIf="form.controls.name.errors?.validateName && form.controls.name.dirty">Name must not contain numbers and special characters but must have a space between first and last name!</p>
		                </div>
		              </div>


		              <!-- Email -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
		                  <input id="email" type="email" placeholder="Email address" name="email" class="form-control form-group__input" formControlName="email" (blur)="checkEmail()">
		                  <p class="help-block" *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required.</p>
											<p class="help-block" *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && form.controls.email.dirty">Email must be between 3 and 40 characters.</p>
		                  <p class="help-block" *ngIf="emailMessage">{{emailMessage}}</p>
		                  <p class="help-block" *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Please enter a valid email address.</p>
		                </div>
		              </div>


		              <!-- Password -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
		                  <input id="pw" type="password" name="password" class="form-control form-group__input" placeholder="Password" formControlName="password">
		                  <p class="help-block" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</p>
											<p class="help-block" *ngIf="(form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength) && form.controls.password.dirty">Password must be between 6 and 20 characters.</p>
		                  <p class="help-block" *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must contain at least one number, one lower case and one upper case character!</p>
		                </div>
		              </div>



		              <!-- Confirm Password -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && form.errors?.matchingPasswords}">
		                  <input id="pw" type="password" name="confirm" class="form-control form-group__input" placeholder="Confirm password" formControlName="confirm">
		                  <p class="help-block" *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required.</p>
		                  <p class="help-block" *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match!</p>
		                </div>
		              </div>

		              <button type="submit" class="btn btn-landing" [disabled]="!form.valid || processing || !emailValid">Sign up</button>
		            </form>

			          <div class="show-hide-message" role="alert">
									<div [ngClass]="messageClass">
										<p>{{message}}</p>
									</div>
								</div>

		            <hr>

		            <a class="btn btn-block btn-social btn-facebook center">
						<span class="fa fa-facebook"></span>
						Sign up with Facebook
					</a>

		      </div>
		      </div>
		    </div>
	    </div>
	</div>
  </div>
</div>
