<div class="jumbotron">
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
	        <h1>Venga Project</h1>
	        <p>Test login details:</p>
			<p>Email: qgeu@c.theplug.org</p>
			<p>Password: Avasss1!</p>
			<p>Github project: https://github.com/arpadvas/venga_project</p>
	        <p><a class="btn btn-lg btn-landing" href="/" role="button">Log in &raquo;</a></p>
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-primary panel-landing">
		      <div class="panel-heading panel-custom">
		        <h3 class="panel-title">Sign up now!</h3>
		      </div>
		      <div class="panel-body">
		        <div class="content">
		          <form [formGroup]="form" (submit)="onRegisterSubmit()" novalidate>


		              <!-- Name -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.name.errors && form.controls.name.dirty), 'has-success': !form.controls.name.errors}">
		                  <input id="name" type="text" placeholder="Name" name="name" class="form-control form-group__input" formControlName="name">
		                  <p class="help-block" *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required.</p>
		                  <p class="help-block">Please enter a valid name.</p>
		                </div>
		              </div>


		              <!-- Email -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
		                  <input id="email" type="email" placeholder="Email address" name="email" class="form-control form-group__input" formControlName="email">
		                  <p class="help-block" *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required.</p>
		                  <p class="help-block"></p>
		                  <p class="help-block">Please enter a valid email address.</p>
		                </div>
		              </div>


		              <!-- Password -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
		                  <input id="pw" type="password" name="password" class="form-control form-group__input" placeholder="Password" formControlName="password">
		                  <p class="help-block" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required.</p>
		                  <p class="help-block">Please enter a valid password.</p>
		                </div>
		              </div>



		              <!-- Confirm Password -->
		              <div class="form-group">
		                <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors}">
		                  <input id="pw" type="password" name="confirm" class="form-control form-group__input" placeholder="Confirm password" formControlName="confirm">
		                  <p class="help-block" *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required.</p>
		                  <p>Passwords do not match!</p>
		                </div>
		              </div>

		              <button type="submit" class="btn btn-landing" [disabled]="!form.valid">Sign up</button>
		            </form>

			          <div class="alert alert-success show-hide-message alert-custom" role="alert"><p></p></div>
			          <div class="alert alert-danger show-hide-message alert-custom" role="alert"><p></p></div>

		            <hr>

		            <a class="btn btn-block btn-social btn-facebook center">
						<span class="fa fa-facebook"></span>
						Sign up with Facebook
					</a>

		      </div>
		      </div>
		    </div>
	    </div>
	</div>
  </div>
</div>
